<div class="bd bgc-white p-20">
  <div class="layers">
    <div class="layer w-100 mB-10">
      <h6 class="lh-1">Todo List</h6>
    </div>
    <div class="layer w-100">
      <ul class="list-task list-group" data-role="tasklist">
        <li *ngFor="let toDo of toDoList" class="list-group-item bdw-0" data-role="task">
          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            <input type="checkbox" id="inputCall{{toDo.id}}" name="inputCheckboxesCall" class="peer">
            <label for="inputCall{{toDo.id}}" class=" peers peer-greed js-sb ai-c">
              <span class="peer peer-greed">{{toDo.text}}</span>
            </label>
          </div>
          <div class="peers actions mR-15">
            <div class="peer">
                  <span (click)="editToDo(toDo.id)" class="td-n c-deep-purple-500 cH-blue-500 fsz-md p-5">
                    <i class="ti-pencil"></i>
                  </span>
            </div>
            <div class="peer">
                  <span (click)="removeToDo(toDo.id)" class="td-n c-red-500 cH-blue-500 fsz-md p-5">
                    <i class="ti-trash"></i>
                  </span>
            </div>
          </div>
        </li>
      </ul>
      <form [formGroup]="form" (ngSubmit)="addToDo()" class="d-flex mt-2 flex-row align-items-start">
        <input formControlName="toDo" class="form-control mr-2" type="text" placeholder="what else?">
        <button [disabled]="form.invalid" type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
</div>
