.list-task {
  max-height: 265px;
  overflow: hidden;
  overflow-y: auto;
}

li {
  .actions {
    visibility: hidden;
    opacity: 0;
    transition: all .1s;
    span {
      cursor: pointer;
    }
  }
  &:hover .actions {
    visibility: visible;
    opacity: 1;
  }
}
