.list-task {
  max-height: 265px;
  overflow: hidden;
  overflow-y: auto;
}

.is-done {
  text-decoration: line-through;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .checkbox {
    flex-grow: 1;
    label {
      cursor: pointer !important;
      margin-left: 13px;
    }
    input {
      display: none;
    }
  }
  .actions {
    visibility: hidden;
    opacity: 0;
    transition: all .1s;
    span {
      cursor: pointer;
    }
  }
  &:hover .actions {
    visibility: visible;
    opacity: 1;
  }
}
