<div class="bd bgc-white p-20">
  <div class="layers">
    <!-- Widget Title -->
    <div class="layer w-100 mB-20">
      <h6 class="lh-1">Weather</h6>
    </div>

    <!-- Today Weather -->
    <div class="layer w-100">
      <div class="peers ai-c jc-sb fxw-nw">
        <div class="peer peer-greed">
          <div class="layers">
            <!-- Temperature -->
            <div class="layer w-100">
              <div class="peers fxw-nw ai-c">
                <div class="peer mR-20">
                  <h3>32<sup>°F</sup></h3>
                </div>
                <div class="peer">
                  <span class="weather-icon">
                    <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="">
                  </span>
                  <!--<sc-skycons class="weather-icon" [weather]="'clear day'" [color]="'#FF6849'"></sc-skycons>-->
                </div>
              </div>
            </div>

            <!-- Condition -->
            <div class="layer w-100">
              <span class="fw-600 c-grey-600">Partly Clouds</span>
            </div>
          </div>
        </div>
        <div class="peer">
          <div class="layers ai-fe">
            <div class="layer">
              <h5 class="mB-5">Monday</h5>
            </div>
            <div class="layer">
              <span class="fw-600 c-grey-600">Nov, 01 2017</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Today Weather Extended -->
    <div class="layer w-100 mY-30">
      <div class="layers bdB">
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Wind</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">10km/h</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Cloudiness</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">Scattered clouds</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Pressure</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">1019 hpa</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Humidity</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">86 %</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Sunrise</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">05:00 AM</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Sunset</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">05:00 AM</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Week Forecast -->
    <div class="layer w-100">
      <div class="peers peers-greed ai-fs ta-c">
        <div class="peer">
          <h6 class="mB-0">MON</h6>
          <div class="weather-icon">
            <img src="http://openweathermap.org/img/wn/01d.png" alt="">
          </div>
          <span class="d-b fw-600">32<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">TUE</h6>
          <img src="http://openweathermap.org/img/wn/02d.png" alt="">
          <span class="d-b fw-600">30<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">WED</h6>
          <img src="http://openweathermap.org/img/wn/03d.png" alt="">
          <span class="d-b fw-600">28<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">THR</h6>
          <img src="http://openweathermap.org/img/wn/04d.png" alt="">
          <span class="d-b fw-600">32<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">FRI</h6>
          <img src="http://openweathermap.org/img/wn/09d.png" alt="">
          <span class="d-b fw-600">24<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">SAT</h6>
          <img src="http://openweathermap.org/img/wn/10d.png" alt="">
          <span class="d-b fw-600">28<sup>°F</sup></span>
        </div>
        <div class="peer">
          <h6 class="mB-0">SUN</h6>
          <img src="http://openweathermap.org/img/wn/11d.png" alt="">
          <span class="d-b fw-600">32<sup>°F</sup></span>
        </div>
      </div>
    </div>
  </div>
</div>
