<div *ngIf="weatherAll && daysList; else spinner" class="bd bgc-white p-20">
  <div class="layers align-items-stretch">
    <!-- Widget Title -->
    <div class="layer mB-20">

      <div class="d-flex flex-row justify-content-between align-items-center mb-4">
        <h6 class="lh-1 mb-0 mr-4">Weather</h6>

        <div class="d-flex">
          <span class="refresh-icon mr-3" (click)="getWeatherByCoord()">
            <i class="fa fa-location-arrow c-blue-500"></i>
          </span>
          <span *ngIf="geolocation" class="refresh-icon" (click)="getWeatherByCoord()">
            <i class="fa fa-refresh c-green-500"></i>
          </span>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="getWeatherByCity(form.value.city)" class="d-flex flex-row align-items-start">
          <input formControlName="city" class="form-control mr-2" type="text" placeholder="Type your city...">
          <button [disabled]="form.invalid" type="submit" class="btn btn-info">Search</button>
      </form>
    </div>

    <!-- Today Weather -->
    <div class="layer w-100">
      <div class="peers ai-c jc-sb fxw-nw">
        <div class="peer peer-greed">
          <div class="layers">
            <!-- Temperature -->
            <div class="layer w-100">
              <div class="peers fxw-nw ai-c">
                <div class="peer mR-20">
                  <h3>{{weatherAll.list[0].main.temp | number:'1.1-1'}}<sup>°C</sup></h3>
                </div>
                <div class="peer">
                  <span class="weather-icon">
                    <img src="http://openweathermap.org/img/wn/{{ (weatherAll.list[0].weather[0].icon).slice(0, 2) + 'd' }}.png" alt="">
                  </span>
                </div>
              </div>
            </div>

            <!-- Condition -->
          </div>
        </div>
        <div class="peer">
          <div class="layers ai-fe">
            <div class="layer">
              <h5 class="mB-5">{{weatherAll.city.name}}, {{weatherAll.city.country}}</h5>
            </div>
            <div class="layer">
              <span class="fw-600 c-grey-600">{{weatherAll.list[0].dt * 1000 | date:'MMM, d y'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Today Weather Extended -->
    <div class="layer w-100 mY-30">
      <div class="layers bdB">
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Wind</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.list[0].main.pressure}} m/s</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Cloudiness</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.list[0].weather[0].description}}</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Pressure</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.list[0].main.pressure}} hpa</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Humidity</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.list[0].main.humidity}} %</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Sunrise</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.city.sunrise * 1000 | date:'mediumTime'}}</span>
            </div>
          </div>
        </div>
        <div class="layer w-100 bdT pY-5">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer">
              <span>Sunset</span>
            </div>
            <div class="peer ta-r">
              <span class="fw-600 c-grey-800">{{weatherAll.city.sunset * 1000 | date:'mediumTime'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Week Forecast -->
    <div class="layer w-100">
      <div class="peers peers-greed ai-fs ta-c">
        <div class="peer" *ngFor="let day of daysList">
          <h6 class="mB-0">{{day.dt * 1000 | date:'EEE'}}</h6>
          <div class="weather-icon">
            <img src="http://openweathermap.org/img/wn/{{ (day.weather[0].icon).slice(0, 2) + 'd' }}.png" alt="">
          </div>
          <span class="d-b fw-600">{{day.main.temp | number:'1.1-1'}}<sup>°C</sup></span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <ngx-spinner [fullScreen]="false"></ngx-spinner>
</ng-template>

<ngx-spinner name="weather" [fullScreen]="false"></ngx-spinner>
