.email-list-item {
  max-height: 150px;
  overflow: hidden;
  cursor: pointer;
  .peer {
    max-height: 109px;
  }
  &.highlight {
    background-color: #f9fafb !important;
  }
}

input {
  padding-top: 18px;
  padding-bottom: 18px;
}
