<div class="full-container">
  <div class="email-app">
    <div class="email-wrapper row remain-height pos-r bgc-white">
      <div class="email-content open no-inbox-view">
        <div class="email-compose">
          <div class="d-n@md+ p-20">
            <a class="email-side-toggle c-grey-900 cH-blue-500 td-n" href="javascript:void(0)">
              <i class="ti-menu"></i>
            </a>
          </div>
          <form [formGroup]="form" (ngSubmit)="sendEmail(form)" class="email-compose-body">
            <h4 class="c-grey-900 mB-20">Send Message</h4>
            <div class="send-header">
              <div class="form-group" [ngClass]="{invalid: form.get('emailTo').touched && form.get('emailTo').invalid}">
                <input type="text" class='form-control' formControlName="emailTo" placeholder="To">
                <div *ngIf="form.get('emailTo').touched && form.get('emailTo').invalid" class="validation">
                  <small *ngIf="form.get('emailTo').errors.required">This field is required</small>
                  <small *ngIf="form.get('emailTo').errors.email">Please enter valid email</small>
                </div>
              </div>
              <div class="form-group" [ngClass]="{invalid: form.get('emailSubject').touched && form.get('emailSubject').invalid}">
                <input class="form-control" formControlName="emailSubject" placeholder="Email Subject">
                <div *ngIf="form.get('emailSubject').touched && form.get('emailSubject').invalid" class="validation">
                  <small *ngIf="form.get('emailSubject').errors.required">This field is required</small>
                </div>
              </div>
              <div class="form-group">
                <quill-editor formControlName="emailText" [styles]="{height: '350px'}"></quill-editor>
              </div>
            </div>
            <div id="compose-area"></div>
            <div class="text-right mrg-top-30">
              <button type="submit" [disabled]="form.invalid" class="btn btn-danger">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
