<div class="row gap-20 masonry pos-r">
  <div class="masonry-item col-md-6">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Profile</h6>
      <div class="mT-30">
        <form class="container" id="needs-validation" novalidate>
          <div class="row">
            <div class="col-12 mb-3">
              <img src="https://api.adorable.io/avatars/150/abott@adorable.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="userName">User Name</label>
              <input type="text" class="form-control" id="userName" placeholder="User Name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-md-6 mb-3">
              <label for="changePassword">Change Password</label>
              <input type="password" class="form-control" id="changePassword" placeholder="New Password">
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
