/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "./assets/styles/index";
// regular style toast
@import '~ngx-toastr/toastr';

.weather-icon {
  canvas {
    width: 60px;
  }
}

.form-group.invalid {
  input {
    border-color: $danger;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(244,67,54,.25);
    }
  }

}

.validation {
  color: $danger;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.email-list-item .ql-editor > * {
  cursor: pointer !important;
}
