<div class="full-container">
  <div class="email-app">
    <div class="email-wrapper row remain-height bgc-white ov-h">
      <div class="email-list h-100 overflow-y-auto layers">
        <div class="p-20 bgc-grey-100 layer w-100">
          <a routerLink="/compose" class="btn btn-danger">New Message</a>
        </div>
        <app-email-list (onclick)="showEmail($event)" style="width: 100%;"></app-email-list>
      </div>
      <div class="email-content overflow-y-auto h-100">
        <div class="h-100 pos-r">
          <div class="bgc-grey-100 peers ai-c jc-sb p-20 fxw-nw d-n@md+">
            <div class="peer">
              <div class="btn-group" role="group">
                <button type="button" class="back-to-mailbox btn bgc-white bdrs-2 mR-3 cur-p">
                  <i class="ti-angle-left"></i>
                </button>
                <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                  <i class="ti-folder"></i>
                </button>
                <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                  <i class="ti-tag"></i>
                </button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn cur-p bgc-white no-after dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more-alt"></i>
                  </button>
                  <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop1">
                    <li>
                      <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                        <i class="ti-trash mR-10"></i>
                        <span>Delete</span>
                      </a>
                    </li>
                    <li>
                      <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                        <i class="ti-alert mR-10"></i>
                        <span>Mark as Spam</span>
                      </a>
                    </li>
                    <li>
                      <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                        <i class="ti-star mR-10"></i>
                        <span>Star</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="peer">
              <div class="btn-group" role="group">
                <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                  <i class="ti-angle-left"></i>
                </button>
                <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                  <i class="ti-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="email-content-wrapper" *ngIf="email; else noConversation">
            <!-- Header -->
            <div class="peers ai-c jc-sb pX-40 pY-30">
              <div class="peers peer-greed">
                <div class="peer mR-20">
                  <img class="bdrs-50p w-3r h-3r" alt="" src="{{email.avatar}}">
                </div>
                <div class="peer">
                  <small>{{email.date | date:'fullDate'}}</small>
                  <h5 class="c-grey-900 mB-5">{{email.fromName}}</h5>
                  <span>To: {{email.to}}</span>
                </div>
              </div>
            </div>

            <!-- Content -->
            <div class="bdT pX-40 pY-30">
              <h4>{{email.subject}}</h4>
              <quill-view-html [content]="email.text"></quill-view-html>
            </div>
          </div>
          <ng-template #noConversation>
            <h2 class="mt-5 text-center">No conversations selected</h2>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
